.logo-trecos {
    width: 200px;
}


.titulo-trecos {
    text-align: center;
    font-size: 3rem;
    width: 100%;
}

@media (max-width: 768px) {
    .logo-trecos {
        width: 120px;
    }
}

@media (max-width: 768px) {
    .titulo-trecos {
        font-size: 1.8rem;
    }
}

@media (max-width: 576px) {
    .titulo-trecos {
        font-size: 1.2rem;
    }
}