<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Cadastro de Trecos</title>
</head>

<body>
    <header>

        <div class="container mt-1">
            <div class="p-5 bg-primary text-white rounded">
                <div>
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Trecos" 
                    class="img-fluid"
                    width="100"
                    >
                </div>

                <h1 class="text-center">Trecos</h1>

            </div>
        </div>
    </header>



    <nav class="navbar navbar-expand-sm navbar-dark bg-dark rounded" >
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('new_thing') }}">Novo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for ('about') }}">Sobre</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <hr>

    <main>
        {# O conteúdo do template da rota aparece aqui! #}


        {# Exibe mensagens "flash" vindas da session #}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endwith %}

        {# O conteúdo do template da rota aparece aqui! #}
        {% block main %}{% endblock %}
    </main>
    <hr>

    <footer>&copy; 2026 Cadastro de Trecos</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>