{#
templates\index.html
Template da rota inicial
#}

{% extends '_base.html' %}

{% block main %}

<h2>Todos os Trecos</h2>

{% if total > 0 %}

    <div class="container">
        <div class="row">

            {% for content in contents %}

                <div class="col-md-3 mb-4">

                    <div class="card h-100">

                        <img src="{{ content.photo }}"
                             class="card-img-top"
                             alt="{{ content.name }}">

                        <div class="card-body">

                            <h5 class="card-title">
                                {{ content.name }}
                            </h5>

                            <a href="{{ url_for('view', thing_id=content.id) }}"
                               class="btn btn-primary">
                                Ver mais
                            </a>

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>
    </div>

{% else %}

    <p>
        Nenhum treco cadastrado ainda!
        <a href="{{ url_for('new_thing') }}">Cadastre um treco</a>
    </p>

{% endif %}

{% endblock %}